#!/bin/bash

export BUNDLER_EDITOR="cursor"
export DISABLE_SPRING=true
export GIT_EDITOR="cursor --wait"
export THOR_MERGE="opendiff"
export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
export PUPPETEER_EXECUTABLE_PATH=`which chromium`
