[core]
	editor = code --wait
	excludesfile = /Users/justin/.gitignore_global
	quotepath = false
	pager = 
[user]
	name = Justin Wilson
	email = justin.wilson@leadsimple.net
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	ui = auto
[alias]
	in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
	out = log --pretty=oneline --abbrev-commit --graph @{u}..
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain
[pull]
	ff = only
